/* PARALLAX STUFF
================================================== */
#paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4, #paralaxSlice5, #homeFullScreen {
	width:100%;
	background-repeat: repeat;
	background-attachment: scroll;
    background-position: 50% 0;
	background-size: cover;
		/**/
	overflow: hidden;
	/*position: relative;*/
}
.maskParent{position: relative; height:100%;width:100%}
.paralaxText {
	padding-top:66px;
	padding-bottom:66px;
	text-align:center;
	position: relative;

}
.paralaxMask {width:100%; height:100%;overflow:hidden;position:absolute;background:rgba(0,0,0,0.15);}

/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/


/* END PARALLAX STUFF
================================================== */

/*** parallax sections ***/

.paralaxText blockquote:before, .paralaxText blockquote:after {
	color:#fff;
}
#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4 {
	background-color:#43B6B1;
}
#home {
	background-image:url('../images/theme-pics/paralax-sea-green-3.jpg');
}
#paralaxSlice1 {
	background-image: url('../img/intro-bg4.jpg');
}
#paralaxSlice2 {
	background-image: url('../images/theme-pics/paralax-sea-green-2.jpg');
}
#paralaxSlice3 {
	background-image: url('../images/theme-pics/paralax-sea-green-3.jpg');
}
#paralaxSlice4 {
	background-image: url('../images/theme-pics/paralax-4.jpg');
}
#paralaxSlice5 {
	background-image:  url('../images/theme-pics/big-city.jpg');
}
.paralaxText blockquote, .paralaxText h1, .paralaxText h2, .paralaxText h3, .paralaxText p, .paralaxText i{
	color:#fff;
}